html {
    font-family: Helvetica;
    color: seashell;
    font-size: 22px;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}
body {
    box-sizing: border-box;
    margin: 0;
    opacity: 0.9;
}

/* Header */

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 75px;
    border-bottom: 1px solid seashell;
    align-items: center;
}
header img, nav {
    padding: 0px 10px;
}
#logo {
    height: 50px;
}
header nav {
    display: flex;
    width: 400px;
    justify-content: space-between;
    text-decoration: underline;
}

/* End */


/* End */

/* Main */

main {
    width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
}

/* Mission */

#mission {
    display: flex;
    align-items: center;
    background-image: url("assets/images/img-bedford-bizarre.jpg");
    background-size: cover;
    height: 700px;
}
#mission div {
    display: inline-block;
    width: 100%;
    background: black;
    box-sizing: border-box;
}
#mission div h2, h4 {
    display: inline-block;
    margin: 10px 0px;
    line-height: 150%;
}

/* */

@media only screen and (max-width: 630px) {
    header {
        height: auto;
        flex-direction: column;
        margin-top: 12px;
    }
    header nav {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        margin: 25px 25px;
    }
}
@media only screen and (max-width: 410px) {
    header nav {
        flex-direction: column;
        margin-top: 20px;
    }
    header nav a {
        margin-top: 10px;
    }
    main {
        width: 100%;
    }
    #mission {
        height: 500px;
    }
    #mission div h2, h4 {
        margin: 10px 10px;
        font-size: 0.9rem;
    }
}