html {
    font-family: Helvetica;
    color: seashell;
    font-size: 22px;
    background-color: black;
    text-align: center;
    height: 100%;
}
body {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}
* {
    opacity: 0.9;
}
/* Header */

header {
    display: flex;
    position: fixed;
    background: black;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    height: 75px;
    border-bottom: 1px solid seashell;
    align-items: center;
}
header img, nav {
    padding: 0px 10px;
}
#logo {
    height: 50px;
}
header nav {
    display: flex;
    width: 400px;
    justify-content: space-between;
    text-decoration: underline;
}
header nav a {
    color: inherit;
}

/* End */

/* Main */

main {
    width: calc(100% - 80px);
    margin-left: auto;
    margin-right: auto;
}

.main_section {
    display: flex;
    align-items: center;
}
.figure_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.figure_grid figure {
    width: 300px;
    height: 200px;
    margin: 30px 15px;
}
.figure_grid figure img {
    height: 100%;
}
/* Mission */

#mission {
    background-image: url("assets/images/img-bedford-bizarre.jpg");
    background-size: cover;
    height: 700px;
}
#mission div {
    display: inline-block;
    width: 100%;
    background: black;
    box-sizing: border-box;
}
#mission div h2, h4 {
    display: inline-block;
    margin: 10px 0px;
    line-height: 150%;
}

/* END */

/* Tea of the Month */

#tea_of_month {
    height: auto;
}

#tea_of_month section {
    width: 1000px;
    margin: 50px auto 50px auto;
}

/* Locations */

#locations {
    background-image: url('assets/images/img-locations-background.jpg');
    background-size: cover;
    min-height: 500px;
}
#locations section {
    margin-left: auto;
    margin-right: auto;
}

#locations section div{
    display: flex;
    justify-content: center;
    width: auto;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
#locations section div figure {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: black;
}
#locations section div figure:hover {
    opacity: 1;
}
#locations section div figure span {
    margin: 20px 0px
}

/* Contact */
#contact {
    min-height: 200px;
}

#contact div {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
#contact div h2 {
    display: inline-block;
    margin-bottom: 20px;
}
#contact div a {
    margin-bottom: 20px;
    font-size: 0.8rem;
}
footer {
    margin-left: 20px;
}
footer span {
    float: left;
    font-size: 0.8rem;
}

@media only screen and (max-width: 630px) {
    header {
        height: auto;
        flex-direction: column;
        padding-top: 12px;
    }
    header nav {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        margin: 25px 25px;
    }
    footer {
        display: none;
    }
}
@media only screen and (max-width: 410px) {
    header {
        position: relative;
    }
    header nav {
        flex-direction: column;
        margin-top: 20px;
    }
    header nav a {
        margin-top: 10px;
    }
    main {
        width: 100%;
    }
    #mission {
        height: 500px;
    }
    #mission div h2 {
        margin: 10px 10px;
        font-size: 1rem;
    }
    #mission div h4 {
        margin: 10px 10px;
        font-size: 0.8rem;
    }
    #tea_of_month h2 {
        font-size: 0.85rem;
    }
    #tea_of_month h4 {
        font-size: 0.85rem;
    }
    #tea_of_month section {
        width: 100%;
    }
    #locations section div figure {
        margin: 25px 0px;
        width: calc(100% - 20px);
    }
}
